@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== PRINT (FITA) ===== */
@media print {
  body * {
    visibility: hidden !important;
  }

  #print-area,
  #print-area * {
    visibility: visible !important;
  }

  #print-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  header, nav, footer {
    display: none !important;
  }

  @page {
    margin: 10mm;
  }
}