@tailwind base;
@tailwind components;
@tailwind utilities;

/* ===== PRINT (FITA) ===== */
@media print {

  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  /* Esconde tudo */
  body * {
    visibility: hidden !important;
  }

  /* Mostra só as áreas de impressão */
  #print-area-conferencia,
  #print-area-conferencia *,
  #print-area-reposicao,
  #print-area-reposicao * {
    visibility: visible !important;
  }

  /* Garante que comece no topo */
  #print-area-conferencia,
  #print-area-reposicao {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }

  /* Remove header/nav/footer caso existam */
  header,
  nav,
  footer {
    display: none !important;
  }

  @page {
    margin: 10mm;
  }
}
